.restaurantCard.MuiCard-root{
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    /* width: 300px; */
 }


.restaurant-image{
    width: 100%;
    height: 100%;
}


.restaurantCardMedia{
    height: 40%;
}

.restaurantName-heading{
    font-weight: 400;
}

.restaurant-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.like-button.MuiButton-contained{
    box-shadow: none;
    background-color: rgb(230, 201, 98);
    color: white;
    width: 45%;
}

.like-button.MuiButton-root{
    border-radius: 0px;
}

.avg-price-span-style{
    font-weight: 400;
}

@media (max-width:1024px ) {
    .restaurantCard.MuiCard-root{
        margin:10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 400px;
        width: 300px;
     }
    
}